{
    "plugins": [
        "transform-runtime",
        "transform-async-to-generator",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ],
    "presets": [
        ["env",  {"modules": false}],
        ["stage-2"]
    ]
}
