// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
@import '~vuetify/src/stylus/main'
@require '~vuetify/src/stylus/settings/_colors'

a
  cursor: pointer
  text-decoration: none



.invalid-feedback
  color: $red.accent-2
  margin-top: -20px

.card
  .snack__content
    max-width: 100vw
    min-width: 100vw

.table-img
  height: 100%
  width:100px
  object-fit: cover
  vertical-align:middle
  border-radius: 5px